# Default ignored files
/../../../../Bröllop/wedding-main/Namnlös/.idea/shelf/
/../../../../Bröllop/wedding-main/Namnlös/.idea/workspace.xml
# Editor-based HTTP Client requests
/../../../../Bröllop/wedding-main/Namnlös/.idea/httpRequests/
# Datasource local storage ignored files
/../../../../Bröllop/wedding-main/Namnlös/.idea/dataSources/
/../../../../Bröllop/wedding-main/Namnlös/.idea/dataSources.local.xml
